<!DOCTYPE html>
<html>
    <head>
<style>
    html {
        background-color:#161718;
        color:aliceblue;
        font-family: Verdana, sans-serif;
        text-align:center;
    }

</style>
    </head>

<body>
<div class="tenor-gif-embed" data-postid="10312546" data-share-method="host" data-width="50%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/confused-whitepersanguardian-why-gif-10312546">Confused White Persian Guardian GIF</a> from <a href="https://tenor.com/search/confused-gifs">Confused GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<p><a href="/">Return to homepage</a></p>
</body>
</html>